@import "./reset/reset.scss";
@import "./variables/variables.scss";
@import "./global/button.scss";

@import "./components/app.scss";
@import "./components/navbar.scss";
@import "./components/envoy-bot.scss";
@import "./components/sidebar.scss";
@import "./components/details-display.scss";
@import "./components/chat-bot.scss";
@import "./components/landing.scss";
@import "./components/header-bar.scss";
@import "./components/card.scss";

body {
  height: 100vh;
  line-height: 1.25;
  // TODO: width: 100vh might break on mobile
}

main {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}