.envoy-bot {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .envoy-bot-container {
    margin: auto;
    width: 300px;
    max-width: 300px;
    height: 500px;
    border: 1px solid rgb(100, 100, 100);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .message-list {
      // TODO: Make scrollbar better lol
      height: 500px;
      overflow-y: auto;
      list-style: none;
      background-color: white;

      li {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 2px;

        & > .message {
          padding: 10px;
          border-radius: 10px;
          background-color: $botMessageColor;
          max-width: 66%;

          p {
            margin: 0;
            overflow-wrap: anywhere;
          }
        }

        &.user {
          justify-content: flex-end;

          & > .message {
            background-color: $userMessageColor;
          }
        }
      }
    }

    .input-container {
      height: 50px;
      border-top: 1px solid $primaryColor;
      display: flex;
      justify-content: space-between;
      
      input {
        flex: 1;
        border: 0;
        height: 100%;
        padding: 0 10px;

        &:focus {
          outline: 0;
        }
      }

      .send-message-button {
        width: 40px;
        height: 100%;
        border: 0;
      }
    }
  } 
}