.header-bar {
  // border: 1px solid black;
  height: 75px;
  position: relative;
  // background-color: $primaryChatColor;
  background-color: white;
  border-bottom: 1px solid $borderColor;
  // box-shadow: 0 0px 3px 0px black;
  display: flex;

  h1 {
    margin: auto;
    font-size: 32px;
    text-align: center;
    color: $tertiaryColor;
  }

  .envoy-bot-network-status {
    position: absolute;
    display: flex;
    text-align: center;
    margin: auto;
    width: 100%;
    justify-content: center;
    border: 1px solid red;
    top: 50px;
    border-radius: 3px;
    background: white;
    display: none;

    // TODO: Figure this shit out
    &.fade-out {
      transition-delay: 2s;
      transition: all 1.5s;
    }
  }
}