$desktopContainerWidth: 700px;

.landing {
  opacity: 0;
  transition-delay: 1s;
  transition: ease-in-out all 0.5s;
  height: 100%;

  &.show {
    opacity: 1;
  }

  .landing-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .landing-text-container {
      // TODO: Mobile?
      // height: $goldenRatio * 400px;
      // width: 400px;
      height: 700px;
      width: $desktopContainerWidth;
      color: $primaryColor;
  
      display: flex;
      justify-content: center;
      flex-direction: column;
  
      > *:not(:last-child) {
        margin-bottom: 10px;
      }
  
      .landing-header {
        font-size: 64px;
        margin-left: -4px;

        em {
          color: $tertiaryColor;
        }
      }
  
      .landing-sub-header {
        font-size: 28px;
        margin-left: -2px;
      }
  
      .button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
      }
    }
  }
}