.side-bar {
  // background-color: $quaternaryChatColor;
  background-color: white;
  border-right: 1px solid $borderColor;

  &-icons-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;

    li {
      height: 55px;
      width: 55px;
      // border-radius: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      cursor: pointer;

      color: $primaryColor;
      
      // TODO: Copy pasted from bottom because first icon is actually a link
      &:hover {
        transition: all 0.5s;
        // background-color: $primaryColor;
        color: $tertiaryColor;
      }

      &.active {
        color: $tertiaryColor;
      }

      a {
        color: $primaryColor;
  
        &:hover {
          transition: all 0.5s;
          // background-color: $primaryColor;
          color: $tertiaryColor;
        }
  
        &.active {
          color: $tertiaryColor;
        }
      }

      // a {
      //   &:visited {
      //     color: inherit;
      //   }
      // }
      .details-notif {
        position: absolute;
        transform: translate(15px, -10px);
        color: $quinternaryChatColor;
        opacity: 1;
        transition: all 1s;

        &.hide {
          opacity: 0;
        }
      }
    }
  }
}
