button, .button {
  border: 1px solid $primaryColor;
  color: $primaryColor;
  background-color: transparent;
  height: 50px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 15px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $primaryColor;
    border-color: $primaryColor;
    color: $secondaryColor;
    transition: all 1s;
  }

  &:focus {
    outline: 0;
  }
}