button {
  border: 0.5px solid black;
  background-color: transparent;
  height: 50px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: rgb(245, 245, 245);
    border-color: rgb(10, 10, 10);
    transition: all 0.5s;
  }

  &:focus {
    outline: 0;
  }
}