$goldenRatio: 1.61803398875;

// Landing Color Palette
$primaryColor: #14213D;
$secondaryColor: #f3f3f3;
$tertiaryColor: #FCA311;

// Bot Color Palette
$userMessageColor: #b6cdff;
$botMessageColor: rgb(224, 224, 224);

$backgroundColor: #eff2ff; 
$warningColor: #fad2e1;

$primaryChatColor: #f8f9fa;
$secondaryChatColor: #e9ecef;
$tertiaryChatColor: #dee2e6;
$quaternaryChatColor: #ced4da;

$borderColor: rgb(221, 221, 221);